// estilos globais
.main_container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  @media (max-width: 1199.98px) {
    max-width: 920px;
  }
  @media (max-width: 991.98px) {
    padding: 0 1rem;
    max-width: 820px;
  }
}

.room_card {
  @apply rounded-xl shadow-md w-full h-32 p-4 flex flex-row items-end bg-cover;
}

thead{
  tr{
    th{
      text-align: center;
    }
  }
}
